<div id="message-<%= message.id %>" class="<%= current_user == message.user ? "sender-message" : "receiver-message" %>">
<%= message.user %>
<%= current_user %>
  <small>
    <h6><%= message.user.first_name %></h6>
  </small>
  <div class="messages-bottom">
    <p><%= message.content.capitalize %></p>
      <small>
        <i><%= message.created_at.strftime("%b %e at %l:%M %p") %></i>
      </small>
  </div>
</div>
