<div class="container">
  <h1> All Pet Applications </h1>


  <% @pets.each do |pet|  %>
    <% if pet.applications.exists?%>




        <h2 > <%= link_to pet.name, pet_path(pet) %> </h2>

        <% if pet.photos.attached? %>
        <% pet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
        <% end %>
        <% else %>
        <img src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="object-fit: contain;">
        <% end %>



      <% pet.applications.each do |application| %>


        <p> User ID: <%= application.user_id%> </p>
        <%= cl_image_tag application.user.photo.key, height: 100, width: 100, crop: :fill %>
        <p> First Name: <%= application.user.first_name%> </p>
        <p> Last Name: <%= application.user.last_name %></p>
        <p> Age: <%= application.user.age %></p>

        <hr>
      <% end  %>
    <% end %>

  <% end  %>

</div>
