
<div class="application-show-container">
  <h1 class = "application-show-heading"> Application on <%= @application.pet.name %> </h1>
    <div class="application-title-status ">

        <% if @application.approved == false && @application.reviewed == false %>
          <h2 class="application-status-in-progress"> In progress </h2>
        <% elsif @application.approved == true && @application.reviewed == true %>
          <h2 class="application-status-accepted"> Accepted </h2>
        <% else @application.approved == false && @application.reviewed == true %>
          <h2 class="application-status-declined"> Declined </h2>
        <% end  %>

    </div>

   <div class = "application-align-item-center">
      <% if @application.approved == false && @application.reviewed == false %>
        <div class="application-justify-center">

            <div class= "application-button-margin">
              <%= render "approve_application", pet: @application.pet %>
            </div>
            <div class= "application-button-margin">
              <%= render "reject_application", pet: @application.pet %>
            </div>
        </div>
      <% elsif @application.approved == true && @application.reviewed == true %>
        <div class="application-justify-center">

          <div class="application-button-margin">
            <%= render "undo_approve_application", pet: @application.pet %>
          </div>
        </div>


      <% else @application.approved == false && @application.reviewed == true %>
        <div class="application-justify-center">

          <div class="application-button-margin">
            <%= render "unreject_application", pet: @application.pet %>
          </div>
        </div>
      <% end  %>
    </div>
  <div class = "application-flex">

    <div class = "pet-application-cards">
      <h2> Pet Details </h2>
      <div class = "application_profile_picture ">
        <%= cl_image_tag @application.pet.photos.first.key, height: 120, width: 120, crop: :thumb %>
      </div>


      <h3> <%= @application.pet.name %> </h3>

      <table class="pet-details-table">

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-paw"></i></td>
          <td><h6>BREED</h6></td>
          <td><p><%= @pet.breed %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-venus-mars"></i></td>
          <td><h6>SEX</h6></td>
          <td><p><%= @pet.sex %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-hourglass"></i></td>
          <td><h6>AGE</h6></td>
          <td style="width:22vw"><p><%= @pet.age %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-palette"></i></td>
          <td><h6>COLOUR</h6></td>
          <td><p><%= @pet.colour %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-pen"></i></td>
          <td><h6> PET DESCRIPTION</h6></td>
          <td><p><%= @pet.description %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-stethoscope"></i></td>
          <td><h6>MEDICAL CONDITIONS</h6></td>
          <td><p><%= @pet.medical_conditions %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-brands fa-pagelines"></i></td>
          <td><h6>GARDEN REQUIRED?</h6></td>
          <td><p><%= @pet.outdoor_space ? "Yes" : "No" %></p></td>
        </tr>


        <tr class="pet-details-item">
          <td><i class="fa-solid fa-child"></i></td>
          <td><h6>CAN LIVE WITH CHILDREN?</h6></td>
          <td><p><%= @pet.children ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-cat"></i></td>
          <td><h6>CAN LIVE WITH CATS?</h6></td>
          <td><p><%= @pet.other_cats ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-dog"></i></td>
          <td><h6>CAN LIVE WITH DOGS?</h6></td>
          <td><p><%= @pet.other_dogs ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-house-chimney"></i></td>
          <td><h6>CAN BE LEFT ALONE FOR</h6></td>
          <td><p><%= @pet.hours_alone %> hours a day</p></td>
        </tr>

      </table>



      <div class= "application-button-margin">
        <%= link_to "View #{@application.pet.name}'s profile",
        pet_path(@application.pet), class: 'btn-red' %>
      </div>


    </div>

    <div class = "pet-application-cards">

      <h2> User Details </h2>
      <div class = "application_profile_picture ">
        <%= cl_image_tag @application.user.photo.key, height: 120, width: 120, crop: :thumb %>
      </div>
      <h3> <%= @application.user.first_name %> <%= @application.user.last_name %></h3>

      <table class="pet-details-table">
        <tr class="pet-details-item">
          <td><i class="fa-solid fa-hourglass"></i></td>
          <td><h6>AGE</h6></td>
          <td style="width:22vw"><p><%= @application.user.age %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-cat"></i></td>
          <td><h6>BIOGRAPHY</h6></td>
          <td><p><%= @application.user.biography %></p><td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-briefcase"></i></td>
          <td><h6>OCCUPATION</h6></td>
          <td><p><%= @application.user.occupation %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-house-user"></i></td>
          <td><h6>TYPE OF DWELLING</h6></td>
          <td><p><%= @application.user.type_of_dwelling%></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-brands fa-pagelines"></i></td>
          <td><h6>OUTDOOR SPACE</h6></td>
          <td><p><%= @application.user.outdoor_space ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-child"></i></td>
          <td><h6>ANY CHILDREN LESS THAN 16?</h6></td>
          <td><p><%= @application.user.children ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-cat"></i></td>
          <td><h6>OTHER CATS</h6></td>
          <td><p><%= @application.user.other_cats ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-dog"></i></td>
          <td><h6>OTHER DOGS</h6></td>
          <td><p><%= @application.user.other_dogs ? "Yes" : "No" %></p></td>
        </tr>

        <tr class="pet-details-item">
          <td><i class="fa-solid fa-user-clock"></i></td>
          <td><h6>AVG HOURS AWAY FROM HOME </h6></td>
          <td><p><%= @application.user.hours_alone %> hours a day </p></td>
        </tr>

      </table>



      <div class="user-application-button-margin">
          <%= link_to "MESSAGE", class: 'btn-blue' %>
      </div>
    </div>
  </div>
</div>
