<div class="wrapper-show-pet">
  <% if @pet.photos.size == 1 %>
    <img src="<%= cl_image_path @pet.photos.first.key %>" class="d-block w-100" alt="photo">
  <% elsif @pet.photos.size > 1 %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @pet.photos.size.times do |i| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= i %>" class="<%= "active" if i.zero? %>" aria-current="true" aria-label="Slide 1"></button>
        <% end %>
      </div>

      <div class="carousel-inner">
        <% @pet.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index.zero? %>">
            <img src="<%= cl_image_path photo.key, height: 600, width: 900, crop: :fill %>" class="d-block w-100" alt="<%= index.ordinalize %> image">
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% end %>
</div>
