
<div class="container">
 <div class="row justify-content-center">
    <h1 class = "form-heading"> Update a pet </h1>
    <p class = "form-paragraph"> Please enter the details of the pet below</p>
    <div class="form-container">
      <%= simple_form_for (@pet) do |f|%>
      <span class="form-tags"> <%= f.input :name %> </span>
      <span class="form-tags"> <%= f.input :species, :collection => ["Cat", "Dog"], placeholder: 'Cat or Dog dropdown menu' %> </span>
      <span class="form-tags"> <%= f.input :breed %> </span>
      <span class="form-tags"> <%= f.input :sex, :collection => ["Male", "Female"] %> </span>
      <span class="form-tags"> <%= f.input :age %> </span>
      <span class= "form-tags"> <%= f.input :adoption_status, :collection => ["Available", "Reserved", "Adopted"], placeholder: 'Dropdown menu (default available)' %> </span>
      <span class="form-tags"> <%= f.input :colour %> </span>
      <span class="form-tags"> <%= f.input :outdoor_space, :collection => ["Yes", "No"] %> </span>
      <span class="form-tags"> <%= f.input :description %> </span>
      <span class="form-tags"> <%= f.input :other_cats %> </span>
      <span class="form-tags"> <%= f.input :other_dogs %> </span>
      <span class="form-tags"> <%= f.input :children, label: "Can they live with children?" %> </span>
      <span class="form-tags"> <%= f.input :hours_alone %> </span>
      <span class="form-tags"> <%= f.input :medical_conditions %> </span>
      <span class="form-tags"> <%= f.input :photos, as: :file, input_html: { multiple: true } %> </span>
      <div class="row justify-content-center">
        <%= f.submit class: "btn-yellow" %> </span>
      </div>
      <% end %>
    </div>
 </div>
</div>
