
<div class="container">

  <h1> All pets </h1>

   <%= render 'shared/search', class: "pets-search-bar"%>

  <% @available_pets = @pets.select { |pet| (pet.adoption_status == "Available")} %>

  <%  if @available_pets.any? %>

    <h2> Available <h2>

    <% @pets.each do |pet| %>
      <% if pet.adoption_status == "Available" %>
        <h2> <%= link_to pet.name, pet_path(pet) %> </h2> <br>
        <p> Age: <%= pet.age %> </p> <br>
        <p> Description: <%= pet.description %> </p> <br>
        <p> Adoption Status: <%= pet.adoption_status %> </p>
        <hr>
      <% end %>
    <% end %>
  <% end %>

  <% @reserved_pets = @pets.select { |pet| (pet.adoption_status == "Reserved")} %>

  <%  if @reserved_pets.any? %>

    <h2> Reserved pets <h2>

    <% @pets.each do |pet| %>
      <% if pet.adoption_status == "Reserved" %>
        <h2> <%= link_to pet.name, pet_path(pet) %> </h2> <br>
        <p> Age: <%= pet.age %> </p> <br>
        <p> Description: <%= pet.description %> </p> <br>
        <p> Adoption Status: <%= pet.adoption_status %> </p>
        <hr>
      <% end %>
    <% end %>
  <% end %>

   <% @adopted_pets = @pets.select { |pet| (pet.adoption_status == "Adopted")} %>

  <%  if @reserved_pets.any? %>

    <h2> Adopted pets <h2>

    <% @pets.each do |pet| %>
      <% if pet.adoption_status == "Adopted" %>
        <h2> <%= link_to pet.name, pet_path(pet) %> </h2> <br>
        <p> Age: <%= pet.age %> </p> <br>
        <p> Description: <%= pet.description %> </p> <br>
        <p> Adoption Status: <%= pet.adoption_status %> </p>
        <hr>
      <% end %>
    <% end %>
  <% end %>

</div>
</div>



<div class="pet_card">
  <div class="pet_card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2 class="pet_card_hero_text_available">AVAILABLE</h2>
  </div>
  <div class="pet_card_info">
    <h2 class="pet_card_info_name">Name</h2>
    <div class="pet_card_info_text">
      <h5><strong>Age</strong></h5>
      <div class="bottom_section">
        <h5><strong>Breed</strong></h5>
      <div class="pet_card_icons">
        <i class="fa-brands fa-pagelines"></i>
        <i class="fa-solid fa-cat"></i>
        <i class="fa-solid fa-dog"></i>
        <i class="fa-solid fa-child"></i>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="pet_card">
  <div class="pet_card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <h2 class="pet_card_hero_text_reserved">RESERVED</h2>
  </div>
  <div class="pet_card_info">
    <h2 class="pet_card_info_name">Name</h2>
    <div class="pet_card_info_text">
      <h5><strong>Age</strong></h5>
      <div class="bottom_section">
        <h5><strong>Breed</strong></h5>
      <div class="pet_card_icons">
        <i class="fa-brands fa-pagelines"></i>
        <i class="fa-solid fa-cat"></i>
        <i class="fa-solid fa-dog"></i>
        <i class="fa-solid fa-child"></i>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="pet_card">
  <div class="pet_card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2 class="pet_card_hero_text_adopted">ADOPTED</h2>
  </div>
  <div class="pet_card_info">
    <h2 class="pet_card_info_name">Name</h2>
    <div class="pet_card_info_text">
      <h5><strong>Age</strong></h5>
      <div class="bottom_section">
        <h5><strong>Breed</strong></h5>
      <div class="pet_card_icons">
        <i class="fa-brands fa-pagelines"></i>
        <i class="fa-solid fa-cat"></i>
        <i class="fa-solid fa-dog"></i>
        <i class="fa-solid fa-child"></i>
      </div>
      </div>
    </div>
  </div>
</div>
