<div class="container">

 <div class="row justify-content-center">
    <h1 class = "form-heading"> List a pet for adoption </h1>
    <p class = "form-paragraph"> Please enter the details of the pet below</p>
    <div class="form-container">
      <%= simple_form_for (@pet), class: 'pet-form' do |f|%>
      <div class="form-flex">

        <div class="form-col-left">
          <%= f.input :name, class: "form-tags" %>
          <%= f.input :species, class: "form-tags", :collection => ["Cat", "Dog"], prompt: 'Cat or Dog dropdown menu' %>
          <%= f.input :breed, class: "form-tags" %>
          <%= f.input :sex, class: "form-tags", :collection => ["Male", "Female"] %>
          <%= f.input :age, class: "form-tags"%>
        </div>
        <div class="form-col-center">
          <%= f.input :adoption_status, :collection => ["Available", "Reserved", "Adopted"], prompt: 'Dropdown menu (default available)' %>
          <%= f.input :colour %>
          <%= f.input :other_cats, label: "Can they live with other cats?" %>
          <%= f.input :other_dogs, label: "Can they live with other dogs?" %>
          <%= f.input :description %>


        </div>
        <div class="form-col-right">
          <%= f.input :outdoor_space, label: "Do they need an outdoor space?" %>
          <%= f.input :children, label: "Can they live with children?" %>
          <%= f.input :hours_alone, label: "AVG. hours pet will be alone" %>
           <%= f.input :medical_conditions, lable: "Does the pet have any medical condition?" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>

        </div>
      </div>

      <div class="row justify-content-center">
        <%= f.submit class: "btn-yellow" %>
      </div>
      <% end %>
    </div>
 </div>
</div>
