<% content_for :meta_title, "#{@pet.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @pet.description %>
<%# <% content_for :meta_image, cl_image_path(@pet.photo.path) %>

<div class="container">
  <div class="pet-container">
    <div class="pet-navigation-top">
      <div class="pet-navigation-top-left">
      <h6><%= link_to "HOME", root_path, class: "pet-nav-item" %>&emsp;>&emsp;<%= link_to "PETS", pets_path, class: "pet-nav-item" %>&emsp;>&emsp;<%= @pet.name.upcase %></h6>
      </div>
      <h6><%= link_to "BACK TO PETS", pets_path, class: "pet-nav-item" %></h6>
    </div>
    <div class="pet-title-status">
      <h1><em><%= @pet.name %></em></h1>
      <% if @pet.adoption_status == "Available" %>
        <h2 class="pet-status-available"><%= @pet.adoption_status %></h2>
      <% elsif @pet.adoption_status == "Adopted" %>
        <h2 class="pet-status-adopted"><%= @pet.adoption_status %></h2>
      <% else %>
        <h2 class="pet-status-reserved"><%= @pet.adoption_status %></h2>
      <% end %>
    </div>
    <div class="pet-images-shelter-info">
      <!-- Carousel currently not working properly, need further look at it -->
      <%= render 'pet_image_carousel', class: "carousel" %>
      <div class="pet-shelter-info">
        <% if current_user == @pet.shelter.user %>
          <%= render 'shelter_info_card', class: "shelter-info-card" %>
          <%= link_to "EDIT PET", edit_pet_path(@pet), class: "btn-light-gray" %>
        <% elsif user_signed_in? && @user_has_applied %>
          <%= render 'shelter_info_card', class: "shelter-info-card" %>
          <%= link_to "Cancel Application", application_path(@user_application), method: :delete,
                              data: { confirm: "Are you sure you want to cancel your application for #{@pet.name}?"}, class: "btn-red" %>
        <% elsif @pet.adoption_status == "Adopted" %>
          <%= render 'shelter_info_card', class: "shelter-info-card" %>
          <p><%= @pet.name%> has already found a home!</p>
        <% else %>
            <%= render 'shelter_info_card', class: "shelter-info-card" %>
            <%= render "application_form", pet: @pet %>
        <% end %>
      </div>
    </div>
    <div class="pet-details">
      <table class="pet-details-table">
        <tr class="pet-details-item">
          <td><i class="fa-solid fa-hourglass"></i></td>
          <td><h6>AGE</h6></td>
          <td style="width:22vw"><p><%= @pet.age %></p></td>
          <td><i class="fa-solid fa-cat"></i></td>
          <td><h6>CAN LIVE WITH CATS?</h6></td>
          <td><p><%= @pet.other_cats ? "Yes" : "No" %></p></td>
        </tr>
        <tr class="pet-details-item">
          <td><i class="fa-solid fa-venus-mars"></i></td>
          <td><h6>SEX</h6></td>
          <td><p><%= @pet.sex %></p></td>
          <td><i class="fa-solid fa-dog"></i></td>
          <td><h6>CAN LIVE WITH DOGS?</h6></td>
          <td><p><%= @pet.other_dogs ? "Yes" : "No" %></p></td>
        </tr>
        <tr class="pet-details-item">
          <td><i class="fa-solid fa-paw"></i></td>
          <td><h6>BREED</h6></td>
          <td><p><%= @pet.breed %></p></td>
          <td><i class="fa-solid fa-child"></i></td>
          <td><h6>CAN LIVE WITH CHILDREN?</h6></td>
          <td><p><%= @pet.children ? "Yes" : "No" %></p></td>
        </tr>
        <tr class="pet-details-item">
          <td><i class="fa-solid fa-palette"></i></td>
          <td><h6>COLOUR</h6></td>
          <td><p><%= @pet.colour %></p></td>
          <td><i class="fa-solid fa-house-chimney"></i></td>
          <td><h6>CAN BE LEFT ALONE FOR</h6></td>
          <td><p><%= @pet.hours_alone %> hours a day</p></td>
        </tr>
        <tr class="pet-details-item">
          <td class="column 1"><i class="fa-brands fa-pagelines"></i></td>
          <td><h6>GARDEN REQUIRED?</h6></td>
          <td class="column 1"><p><%= @pet.outdoor_space ? "Yes" : "No" %></p></td>
          <td><i class="fa-solid fa-stethoscope"></i></td>
          <td><h6>MEDICAL CONDITIONS</h6></td>
          <td><p><%= @pet.medical_conditions %></p></td>
        </tr>
      </table>
      <h3><em>More about <%= @pet.name %></em></h3>
      <p><%= @pet.description %></p>
      </div>
      <div class="pet-applications">
        <% if user_signed_in? && current_user.shelter == @pet.shelter %>
          <h3><em>Applications for <%= @pet.name %></em></h3>
          <!-- Render Joe's application cards here -->
        <% end %>
    </div>
  </div>
</div>




    <% if @pet.photos.attached? %>
      <% @pet.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="object-fit: contain;">
    <% end %>
