<div class="container">

  <h2> <%= @user.first_name %>  </h2>

  <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="object-fit: contain;">
  <% end %>

  <p> Age: <%= @user.age %></p>
  <p> Biography: <%= @user.biography %></p>
  <p> Type of dwelling: <%= @user.type_of_dwelling %></p>
  <p> Outdoor Space: <%= @user.outdoor_space %></p>
  <p> Other pets: <%= @user.other_pets %></p>
  <p> Children: <%= @user.children%></p>
  <p> Hours alone: I could leave my pet alone for <%= @user.hours_alone %> hours.</p>
  <p> Previous experience: <%= @user.children%></p>
  <a class="btn btn-ghost" href="#">Edit</a>
</div>
