<div class="container">

  <h2> <%= @user.first_name %>  </h2>

  <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 150, width: 150, crop: :fill %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="object-fit: contain;">
  <% end %>

  <p> First Name: <%= @user.first_name %> </p>
  <p> Last Name: <%= @user.last_name %></p>
  <p> Age: <%= @user.age %> </p>
  <p> Biography: <%= @user.biography %> </p>
  <p> Occupation: <%= @user.occupation %> </p>
  <p> Type of dwelling: <%= @user.type_of_dwelling %> </p>
  <p> Outdoor space?: <%= @user.outdoor_space %> </p>
  <p> Other cats: <%= @user.other_cats ? "Yes" : "No" %> </p>
  <p> Other dogs?: <%= @user.other_dogs ? "Yes" : "No" %> </p>
  <p> Children?: <%= @user.children ? "Yes" : "No" %> </p>
  <p> Hours at home?: <%= @user.hours_alone %> </p>
  <p> Previous experience: <%= @user.previous_experience%></p>
  <a class="btn btn-ghost" href="#">Edit</a>
</div>
