<div class="container">
  <div class="home-container">
    <div class="banner">
      <div class="banner-text">
        <h1><em>We modernise the pet adoption process</em></h1>
        <p>Connecting awesome animal shelters with people looking to give animals a second chance</p>
        <div class="banner-text-buttons">
          <% if user_signed_in? && current_user.shelter.present? %>
            <%= link_to "LIST A PET", new_pet_path, class: "btn-red" %>
          <% elsif user_signed_in? && !current_user.shelter.present?  %>
            <%= link_to "FIND A PET", pets_path, class: "btn-red" %>
          <% else %>
            <%= link_to "FIND A PET", pets_path, class: "btn-red" %>
            <%= link_to "LIST A PET", new_pet_path, class: "btn-gray-border" %>
          <% end %>
        </div>
      </div>
      <%= image_tag "homepage_cat_dog.png" %>
    </div>
    <div class="about-section">
      <h3><em>How does it work?</em></h3>
      <div class="about-users">
        <div class="about-left">
          <%= image_tag "homepage_shelter.png" %>
          <h5><em>Shelters</em></h5>
          <p>Register as an animal shelter, list pets for adoption and manage your shelter's applications.</p>
        </div>
        <div class="about-right">
          <%= image_tag "homepage_adopt.png" %>
          <h5><em>Adopters</em></h5>
          <p>Create a profile, search for pets up for adoption in your area and register your interest.</p>
        </div>
      </div>
    </div>
    <div class="pet-sample-cards-section">
      <h3><em>Featured floofs</em></h3>
      <div class="pet-sample-cards-container">
        <% @pets.sample(3).each do |pet| %>
        <div class="pet_card">
          <%=link_to pet_path(pet) do %>
            <% if pet.photos.attached? %>
              <% pic_url = cl_image_path pet.photos.first.key %>
              <div class="pet_card_hero" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= pic_url %>')">
            <% else %>
              <img src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="object-fit: contain;">
            <% end %>
              <h2 class="pet_card_hero_text_available">AVAILABLE</h2>
              </div>
              <div class="pet_card_info">
                <h2 class="pet_card_info_name"><%= pet.name%></h2>
                <div class="pet_card_info_text">
                  <h5><%= pet.age %></h5>
                    <div class="bottom_section">
                      <h5><%= pet.breed %></h5>
                        <div class="pet_card_icons">
                          <% if pet.outdoor_space  %>
                            <i class="fa-brands fa-pagelines"></i>
                          <% else %>
                            <i class="fa-brands fa-pagelines opaque-icon"></i>
                          <% end %>

                          <% if pet.other_cats %>
                            <i class="fa-solid fa-cat"></i>
                          <% else %>
                            <i class="fa-solid fa-cat opaque-icon"></i>
                          <% end %>

                          <% if pet.other_dogs %>
                            <i class="fa-solid fa-dog"></i>
                          <% else %>
                            <i class="fa-solid fa-dog opaque-icon"></i>
                          <% end %>

                          <% if pet.children %>
                            <i class="fa-solid fa-child"></i>
                          <% else %>
                            <i class="fa-solid fa-child opaque-icon"></i>
                          <% end %>
                        </div>
                    </div>
                </div>
              </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
